.header-wrapper {
    background-color: #282828;
    box-shadow: 0 1px  #555555;
    z-index: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.song-list-header {
    color: #AAA;
    flex-grow: 1;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.song-index-header, .songname-artist-header, .album-header, .song-length-header{
    margin-right: 1rem;
}

.song-index-header, .songname-artist-header, .album-header, .song-length-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-info-header {
    position: relative;
    display: flex;
    flex-grow: 1;
    margin-left: 3.5rem;
}

.context-menu-header {
    width: 0.5rem;
}

.song-index-header {
    position: relative;
    width: 1rem;
}

.songname-artist-header {
    width: 65%;
}

.album-header {
    width: 35%;
}

.song-length-header {
    width: 4rem;
}




/* <div className="song-list-header">
      <div className="song-index-header">#</div>
        <div className="songname-artist-header">Title</div>
        <div className="album-header">Album</div>
        <div className="song-length-header">Time</div> */