.song-list-wrapper {
    max-height: inherit;
    flex-flow: column;
    display: flex;
}

.song-list-wrapper:hover {
    cursor: default;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.song-list {
    margin-top: 2px;
    margin-bottom: 2px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.song-list::-webkit-scrollbar {
    display: none; /* for Chrome, Safari */
}

.song-list-padding {
    height: 0.5rem;
}