.song-banner {
    width: inherit;
    background-color: #222;
    display: flex;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.35em;
}

.song-banner:hover {
    background-color: #444;
}

.song-banner.selected {
    background-color: #666;
}

.song-banner.selected:not(.first-select, .last-select) {
    border-radius: 0;
}

.song-banner.selected:not(.last-select) {
    box-shadow: 0 15px  #666;
}

.song-banner:hover .artist, .song-banner:hover .album,
.song-banner.selected .artist, .song-banner.selected .album,
.song-banner.selected .song-index {
    color: #FFF;
}

.song-index, .albumart, .songname-artist-wrapper, .songinfo-content {
    margin-right: 1rem;
}

.songname, .artist-album {
    width: 100%;
    height: 1em;
    overflow: hidden;
}

.song-index, .artist-album {
    color: #AAA;
}

.song-index, .songname-artist-wrapper, .albumart {
    margin-top: auto;
    margin-bottom: auto;
}

.song-index {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    text-align: right;
    width: 3em;
}

.albumart{
    height: 4em;
    width: 4em;
}

.songinfo-content {
    display: flex;
    width: 100%;
}


.playlist-scroller-wrapper {
    width: 70%;
    
}
.songname-artist-wrapper {
    width: 30%;
}

.songname {
    font-weight: bold;
    margin-bottom: 0.25em;
}

.context-menu {
    width: 0.5em;
    color: #999;
    visibility: hidden;
}

.song-banner:hover .context-menu {
    visibility: visible
}